@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap') ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lobster, sans-serif;
  font-size: 0.9rem;
}

header {
  background-color: #2f9982;
  width: 100%;
  height: 90px;
  position: fixed;
  padding: 1.5em 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

h1 {
  text-align: center;
  color: #f3f3f3;
  background-color: #13704c;
  padding: 0 0.1em;
  border-radius: 1em;
  margin-bottom: 0.2em;
}

main {
  padding: 1em;
  text-align: center;
  padding-top: 125px;
}

#logo {
  position: absolute;
  left: 5em;
}

input {
  margin: 0 0.5em;
}

/* Color Pallete */
.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
}

.black {
  background-color: black;
}

/* Pixel Board */
#pixel-board {
  border: 1px solid green;
  padding: 1em;
  margin: 1em auto;
  display: inline-block;
}

.pixel {
  height: 40px;
  width: 40px;
  display: inline-block;
  border: 1px solid black;
  background-color: white;
}
